
<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>
<% name = "Joe" %>
<%= "Goodbye " +  name %> </h1>
        <h2></h2>
        <p> </p>
    </body>
</html>
